html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*  COMMON  */
.container {
  width: 90%;
  max-width: 97rem;
  margin: 0 auto;
}
.section {
  padding: 7rem 0;
}

.primary-title {
  font-size: clamp(4rem, 3.5vw + 2rem, 6.9rem);
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
}

.section_title {
  font-size: clamp(3.5rem, 3.2vw + 2rem, 6rem);
  line-height: 1.2;
  text-align: center;
  color: #17353d;
  font-weight: 600;
  margin-bottom: 7rem;
}

.text {
  font-size: 1.5rem;
}

.button {
  padding: 1.2rem 1.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-primary, red);
  cursor: pointer;
  display: block;
  margin: auto;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

/*  UTILS  */
.center {
  display: grid;
  place-items: center;
}

.center-text {
  text-align: center;
}

.spacing {
  & > * + * {
    margin-top: 2rem;
  }
}

.split {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    flex-basis: 30%;
  }
}

/*  CUSTOM: HERO  */
.hero {
  color: white;
  height: 96vh;
  background: #333;
  @supports (background-blend-mode: multiply) {
    background: url(../img/shoe-3.png), radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: clamp(71vh, 69vw, 69vw), 100%;
  }
}

/*  CUSTOM: FEATURED PRODUCTS  */
.featured {
  background: #eee;

  &__item {
    text-decoration: none;
    transition: transform 250ms ease-in-out;
    position: relative;
    z-index: 0;

    @media screen and (max-width: 40rem){
        flex-basis: 50%;
    }

    img {
      max-width: 90%;
    }

    &::after {
      content: "";
      position: absolute;
      padding: 70% 70% 0 0;
      background: var(--color-secondary, rgb(40, 211, 253));
      border-radius: 50%;
      top: 10%;
      left: 8%;
      z-index: -1;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);

      .featured__details {
        opacity: 1;
      }
    }
  }
  &__details {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.1;
    color: black;
    opacity: 0;
    transition: opacity 250ms linear 100ms;
    .price {
      display: block;
      font-size: 3rem;
      font-weight: bold;
    }
  }
}

/*  CUSTOM: OUR PRODUCTS  */
