:root{
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayBlue: hsl(233, 8%, 62%);
    --gray: hsl(220, 16%, 96%);
    --lightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    font-size: 18px;
}

body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    color: var(--grayBlue);
}

.hero{
    border: 1px solid red;
    text-align: center;
}

.wrapper{
    padding: 0 1.8em;
}

.title{

    &__h1{
        border: 1px solid red;
        font-size: 2.1em;
        color: var(--darkBlue)
    }
}

.button{
    padding: .9em 2.2em;
    background-image: linear-gradient(to right, var(--limeGreen) 0%, var(--brightCyan) 100% );
    color: var(--white);
    font-size: 1em;
    border-radius: 1.5em;
    border: none;
}