body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--baseColor);
    background: var(--base);
}

:root{
 --lime-green: hsl(163, 72%, 41%);
 --bright-red: hsl(356, 69%, 56%);
 --facebook: #168ef4;
 --twitter: hsl(203, 89%, 53%);
 --instagram-1: hsl(37, 97%, 70%);
 --instagram-2: hsl(329, 70%, 58%);
 --youTube: hsl(348, 97%, 39%);
 --gray: #5f616d;
 --cardGray: #f0f3fa;
 --darkSwitch: white;
 --base: white;
 --baseColor: #1d2029;
 --headerBackground: #f8f9fe;
 --cardFollowersTitle: #5f616d;
}

.wrapper {
    padding: 0 20px;
}

.grid{
    display: grid;
    grid-row-gap: 25px;
}

.header{
    /* border: 1px solid red; */
    background: var(--headerBackground);
    /* background: blue; */
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: .8em;
}

.header-total{
    margin: .3em 0;
    color: var(--gray);
    font-weight: 600;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 1.7em;
}

.dark-mode{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

.dark-mode-title{
    color: var(--gray);
    font-weight: 600;
}

.checkbox{
    display: none;
}

.checkbox:checked ~ .switch:before{
    /* border: 1px solid red;  */
    transform: translateX(0);
}

.switch{
    /* border: 1px solid red; */
    background: var(--gray);
    border-radius: 20px;
    width: 80px;
    height: 40px;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.switch::before{
    content: "";
    display: block;
    background: var(--darkSwitch);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateX(40px);
    transition: transform .25s;
}

h1{
    margin: 0;
    font-size: 1.7em;
}

.top-cards{
    /* border: 1px solid red; */
    margin-top: -50px;
    margin-bottom: 3em;
}

.card {
    border-radius: 5px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.7em 0;
    position: relative;
}

.card:before{
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px; 
}

.card.facebook::before{
    background: var(--facebook);
}

.card.twitter::before{
    background: var(--twitter);
}

.card.instagram::before{
    background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}

.card.youtube::before{
    background: var(--youTube);
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f717e;
    font-size: .9em;
    font-weight: bold;
}

.card-title img {
    margin-right: 7px;
}

.card-followers{
    /* border: 1px solid green; */
}

.card-followers-number{
    /* border: 1px solid red; */
    font-size: 2.5em;
    font-weight: 700;
}

.card-followers-title{
    /* border: 1px solid red; */
    display: block;
    text-transform: uppercase;
    color: var(--cardFollowersTitle);
    letter-spacing: 4px;
    font-size: .8em;
}

.card-today{
    color: var(--lime-green);
    margin-top: 20px;
    font-size: .7em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-today img{
    margin-right: 5px;
}

.overview{
    /* border: 1px solid red; */
    margin-bottom: 1.5em;
}

h2{
    color: var(--gray);
    padding-bottom: .2em;
}

.card-small{
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: 1fr 1fr;
    padding: 1.7em;
    grid-row-gap: 1em;
    background: var(--cardGray);
    border-radius: 8px;
}

.card-small p{
    margin: 0;
}

.card-small-views{
    /* border: 1px solid red; */
    font-size: .9em;
    color: var(--gray);
    font-weight: 600;
}

.card-small-icon{
    /* border: 1px solid green; */
    text-align: right;
}

.card-small-number{
    /* border: 1px solid yellow; */
    font-size: 1.7em;
    font-weight: bold;
    line-height: .9;
}

.card-small-percentage{
    /* border: 1px solid blue; */
    /* text-align: right; */
    display: flex;
    align-items: flex-end;
    color: var(--lime-green);
    justify-content: flex-end;
    font-size: .9em;
    font-weight: bold;
}

.card-small-percentage.is-danger{
    color: var(--bright-red);
}

.card-small-percentage span{
    display: flex;
    align-items: center;

}

.card-small-percentage img{
    margin-right: 3px;
}

@media screen and (min-width: 480px){
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }

    .wrapper{
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

}

@media screen and (min-width: 1024px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 25px;
    }

    .header-total{
        border: none;
    }

    .header-grid{
        display: grid;
        grid-template-columns: 1fr 200px;
    }

}

.is-dark-mode{
    --cardGray: #252b43;
    --gray: #8088ad;
    --darkSwitch: #262b3e;
    --base: #1d2029;
    --baseColor: white;
    --headerBackground: #1d2029;
    --cardFollowersTitle: #8088ad;
}

@media (prefers-color-scheme: dark){

    :root{
        --cardGray: #252b43;
        --gray: #8088ad;
        --darkSwitch: #262b3e;
        --base: #1d2029;
        --baseColor: white;
        --headerBackground: #1d2029;
        --cardFollowersTitle: #8088ad;
    }
   

}


